<a href="https://colab.research.google.com/github/tys203831/bursa-scraper/blob/main/Bursa_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup

In [ ]:
rf: float = 0.04 # risk free rate
period: int = 5 # e.g. 5 = 5 years
interval: str = "1wk"
confidence_level = 0.01
skipna: bool = False # skip NaN values for annualized return & annualized standard deviation

include_dividends: bool = True
exclude_warrant: bool = True

In [ ]:
pip install requests requests_html yfinance gspread statsmodels scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.28.1)
Requirement already satisfied: requests_html in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.4.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests) (2.1.0)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.1.11)
Requirement already satisfied: pyquery in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.4.3)
Requirement already satisfied: parse in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.19.0)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.0.2)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.0.1)
Requirement already satisfied: w3lib in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.22.0)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (8.2.2)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.64.0)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.12.0)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (10.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (4.1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: google-auth in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests_html) (4.6.3)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread) (57.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth->gspread) (4.2.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread) (0.4.8)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (1.1.0)

## Retrieve Data & Data Cleaning

### (i) Get stock ticker from Bursa

In [ ]:
# Step 4: Get stock tickers from i3investor and then upload to the google spreadsheet: "Bursa stock list" sheet

import requests
import time
from requests.exceptions import HTTPError
import pandas
import json
import re

# start scraping stock list from i3investor
url = "https://klse.i3investor.com/wapi/web/stock/listing/datatables"
data = {"dtDraw":1,"start":0,"order":[{"column":1,"dir":"asc"}],"page":0,"size":100,"marketList":[],"sectorList":[],"subsectorList":[],"type":"","stockType":""}
retries = 2

session = requests.Session()
response = session.post(url, json=data)

df_stock_list = pandas.DataFrame()

#for idx in range(0,11,1):
while len(response.json()["data"]) != 0:
  try:
    response = session.post(url, json=data)
  
  except HTTPError as err:
    code = err.response.status_code

    if code in [429,500,502,503,504]:
      continue
    
    else:
      for retry in range(0,retries,1):
        response = session.post(url, json=data)
        print(response.raise_for_status())
    
  finally:
    df_stock_list= pandas.DataFrame(json.loads(response.text)["data"]) if df_stock_list.empty else pandas.concat((df_stock_list, pandas.DataFrame(json.loads(response.text)["data"])), axis=0)
    #workSheet.append_rows(df_stock_list_values, value_input_option='RAW', table_range ="A1")

    data["dtDraw"] +=1
    data["start"] +=100
    data["page"]+=1

# print out df_stock_list
df_stock_list

#df_stock_list[5] = df_stock_list[5].apply(lambda text: re.sub("<((\s|\w|[='-/])+)>","",text))
#df_stock_list_values = df_stock_list[[12,13,2,3,4,5,6,7,9,10,14]].values.tolist()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1708,"<div class="""" style=""min-width:250px""><div cla...",0.00,0.20,0.00,<span class='up fw-bold'>0.00</span>,0,15.39 M,,LEAP,TECHNOLOGY,,1TECH,03041,SOFTWARE
1,1,"<div class="""" style=""min-width:250px""><div cla...",0.865,0.865,0.00,<span class='up fw-bold'>0.00</span>,0.009 M,425.58 M,,MAIN,CONSUMER PRODUCTS & SERVICES,,3A,0012,FOOD& BEVERAGES
2,3,"<div class="""" style=""min-width:250px""><div cla...",0.00,0.10,0.00,<span class='up fw-bold'>0.00</span>,0,65.998 M,,MAIN,PLANTATION,,AASIA,7054,PLANTATION
3,4,"<div class="""" style=""min-width:250px""><div cla...",0.495,0.495,0.00,<span class='up fw-bold'>0.00</span>,0.031 M,205.333 M,,MAIN,CONSUMER PRODUCTS & SERVICES,,AAX,5238,"TRAVEL, LEISURE & HOSPITALITY"
4,5,"<div class="""" style=""min-width:250px""><div cla...",1.178,1.178,0.77,<span class='up fw-bold'>+0.009</span>,0.002 M,1652.642 M,,ETF,EXCHANGE TRADED FUND-BOND,,ABFMY1,0800EA,BOND FUND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,4050,"<div class="""" style=""min-width:250px""><div cla...",0.205,0.205,0.00,<span class='up fw-bold'>0.00</span>,0.868 M,76.291 M,,ACE,CONSUMER PRODUCTS & SERVICES,,YXPM,0250,PERSONAL GOODS
65,1200,"<div class="""" style=""min-width:250px""><div cla...",0.00,0.38,0.00,<span class='up fw-bold'>0.00</span>,0,56.013 M,,MAIN,CONSTRUCTION,,ZECON,7028,CONSTRUCTION
66,1201,"<div class="""" style=""min-width:250px""><div cla...",0.045,0.055,0.00,<span class='up fw-bold'>0.00</span>,0.524 M,46.471 M,,MAIN,CONSTRUCTION,,ZELAN,2283,CONSTRUCTION
67,472,"<div class="""" style=""min-width:250px""><div cla...",0.025,0.02,-20.00,<span class='down fw-bold'>-0.005</span>,0.667 M,16.169 M,,ACE,TECHNOLOGY,,ZENTECH,0094,SOFTWARE
68,1203,"<div class="""" style=""min-width:250px""><div cla...",1.94,1.92,0.00,<span class='up fw-bold'>0.00</span>,0.025 M,883.2 M,,MAIN,CONSUMER PRODUCTS & SERVICES,,ZHULIAN,5131,CONSUMER SERVICES

In [ ]:
# data cleaning for this stock ticker table, e.g., drop unwanted columns and reordering them
clean_df_stock_list = df_stock_list.drop([0,1,8,11], axis=1) # drop unwanted columns
clean_df_stock_list = clean_df_stock_list[[12,13,10,14,9, 2,3,4,5,6,7]] # reordering the columns
clean_df_stock_list.columns = ["STOCK SYMBOL","STOCK CODE","SECTOR","SUBSECTOR", "MKT", "OPEN","LAST","CHG%","CHG","VOL","MKT CAP"] #rename the columns

clean_df_stock_list[["OPEN","LAST","CHG%","CHG","MKT CAP"]] \
= clean_df_stock_list[["OPEN","LAST","CHG%","CHG","MKT CAP"]].replace(
            {"<((\s|\w|[='-/])+)>":"",
                         "K": "*1e3",
                         "M": "*1e6",
                        "B": "*1e9",}, regex=True)

clean_df_stock_list["MKT CAP"] = clean_df_stock_list["MKT CAP"].map(pandas.eval).astype(int) # convert string (e.g., 897 M	)
clean_df_stock_list= clean_df_stock_list.apply(pandas.to_numeric, errors="ignore") 

clean_df_stock_list

,STOCK SYMBOL,STOCK CODE,SECTOR,SUBSECTOR,MKT,OPEN,LAST,CHG%,CHG,VOL,MKT CAP
0,1TECH,03041,TECHNOLOGY,SOFTWARE,LEAP,0.000,0.200,0.00,0.000,0,15390000
1,3A,0012,CONSUMER PRODUCTS & SERVICES,FOOD& BEVERAGES,MAIN,0.865,0.865,0.00,0.000,0.009 M,425580000
2,AASIA,7054,PLANTATION,PLANTATION,MAIN,0.000,0.100,0.00,0.000,0,65998000
3,AAX,5238,CONSUMER PRODUCTS & SERVICES,"TRAVEL, LEISURE & HOSPITALITY",MAIN,0.495,0.495,0.00,0.000,0.031 M,205333000
4,ABFMY1,0800EA,EXCHANGE TRADED FUND-BOND,BOND FUND,ETF,1.178,1.178,0.77,0.009,0.002 M,1652642000
...,...,...,...,...,...,...,...,...,...,...,...
64,YXPM,0250,CONSUMER PRODUCTS & SERVICES,PERSONAL GOODS,ACE,0.205,0.205,0.00,0.000,0.868 M,76291000
65,ZECON,7028,CONSTRUCTION,CONSTRUCTION,MAIN,0.000,0.380,0.00,0.000,0,56013000
66,ZELAN,2283,CONSTRUCTION,CONSTRUCTION,MAIN,0.045,0.055,0.00,0.000,0.524 M,46471000
67,ZENTECH,0094,TECHNOLOGY,SOFTWARE,ACE,0.025,0.020,-20.00,-0.005,0.667 M,16169000
68,ZHULIAN,5131,CONSUMER PRODUCTS & SERVICES,CONSUMER SERVICES,MAIN,1.940,1.920,0.00,0.000,0.025 M,883200000

In [ ]:
# update stock code list that need to scrape

import re


stock_list = clean_df_stock_list["STOCK CODE"]
full_stock_list = ["^KLSE"]
full_stock_list.extend(stock_list)

if exclude_warrant: 
  full_stock_list = [stock for stock in full_stock_list if not bool(re.match(pattern="\d+[a-zA-Z]+",string=stock))]

print(full_stock_list)

['^KLSE', '03041', '0012', '7054', '5238', '7167', '7086', '2488', '03028', '7131', '0218', '5281', '7191', '9148', '7146', '0181', '6599', '5139', '5185', '5198', '7145', '0258', '7315', '7090', '0122', '0209', '5014', '2658', '7609', '5115', '5116', '2674', '058212', '1163', '0079', '5269', '1015', '5293', '0159', '5120', '03011', '7031', '6351', '7083', '0048', '4758', '0226', '6556', '5082', '9342', '03051', '5568', '5088', '5015', '6432', '0119', '7214', '7181', '7007', '5210', '5127', '0038', '1481', '0068', '7722', '7129', '4057', '0105', '7162', '03032', '6399', '0072', '8176', '5302', '7048', '5130', '7099', '03037', '8885', '5204', '7579', '6888', '5106', '7120', '2305', '5021', '7078', '03012', '0098', '7251', '4162', '5248', '6602', '0187', '6173', '5190', '9814', '7668', '8133', '7005', '5258', '0195', '6998', '0179', '5032', '3239', '3395', '5196', '4219', '1899', '5069', '0168', '9288', '7036', '6297', '5254', '5100', '5932', '9938', '7221', '2771', '0011', '7188', '1818', '03042', '054810', '7174', '0191', '7154', '7128', '5105', '5229', '5099', '0163', '5257', '2836', '03048', '0173', '7076', '2925', '03053', '7035', '0238', '0243', '5195', '8982', '8435', '03024', '8044', '8052', '7209', '7187', '5738', '5273', '1929', '5007', '5797', '7016', '2828', '1023', '7245', '7117', '5180', '03001', '7018', '2852', '7986', '0246', '5104', '5188', '5071', '7205', '7195', '2127', '5037', '0240', '8591', '6718', '03016', '7202', '5094', '7165', '5301', '0051', '5049', '9423', '7157', '5184', '7204', '5276', '8338', '5141', '3484', '5132', '7212', '5165', '0131', '0152', '7277', '6947', '0029', '7528', '5908', '3026', '4456', '7114', '5835', '5265', '7169', '7148', '0205', '7198', '1619', '5216', '3055', '03055', '7233', '3948', '03046', '3417', '0154', '5259', '2143', '3557', '0059', '0239', '5253', '8206', '5036', '7471', '1368', '0107', '0064', '0065', '0227', '8907', '0255', '5081', '5208', '8877', '9016', '5228', '0090', '7217', '9091', '6076', '03025', '7149', '5056', '8613', '7773', '0190', '0100', '03021', '6815', '7208', '7094', '0174', '5101', '7249', '5283', '3689', '2984', '7047', '5029', '6041', '0084', '7229', '03026', '2755', '5306', '5222', '6939', '0149', '8605', '3107', '0150', '9318', '5197', '0231', '7210', '0116', '0157', '5277', '9172', '0128', '9377', '7184', '9261', '5398', '5209', '5226', '7676', '5102', '5592', '0198', '0078', '0104', '4715', '2291', '3182', '7197', '0039', '0021', '7192', '3204', '7382', '5020', '5220', '9962', '0045', '1147', '0074', '2135', '0082', '5649', '03029', '0208', '0136', '7022', '3247', '1503', '0237', '7253', '3034', '2062', '5008', '7501', '5168', '5187', '7105', '3255', '5121', '4324', '5095', '0161', '5151', '5136', '3298', '0175', '0160', '5072', '5199', '7033', '8443', '5819', '5274', '1082', '3301', '0188', '5169', '5160', '0041', '5291', '0228', '5138', '0185', '5028', '5062', '7013', '5000', '5024', '8478', '9601', '4251', '5084', '5108', '5255', '9113', '03038', '03030', '9687', '0023', '5606', '5299', '5227', '5225', '3336', '5614', '7222', '7243', '0166', '2607', '0253', '5178', '5295', '0147', '6262', '3379', '0192', '1961', '5249', '5107', '7183', '8834', '0010', '9393', '5175', '1589', '7043', '7223', '0024', '4723', '8648', '7152', '0058', '5161', '8931', '9083', '0146', '0127', '8923', '03040', '6769', '7096', '3441', '5673', '4383', '0111', '0193', '8672', '0170', '5247', '0054', '7216', '7199', '7323', '6483', '7161', '9334', '0143', '6491', '0151', '0036', '6203', '7062', '0210', '6211', '5371', '5171', '5280', '9466', '2445', '2453', '5027', '7164', '5035', '6971', '7017', '7153', '0002', '5878', '7130', '7077', '5843', '9121', '1996', '0176', '3476', '5038', '5192', '4847', '0180', '6874', '2186', '8362', '3174', '7179', '0018', '1643', '9385', '9326', '8494', '5789', '5284', '9628', '8079', '5232', '7170', '0249', '6633', '3573', '7089', '4235', '8486', '6645', '0182', '8303', '8621', '03047', '9881', '7085', '5068', '5143', '0075', '9199', '5078', '1198', '0095', '7617', '7087', '3859', '8583', '5264', '4936', '6181', '1058', '3514', '5098', '7029', '0189', '5236', '4022', '6012', '1155', '5077', '5152', '5983', '2097', '1171', '7004', '3794', '0167', '03022', '5182', '4502', '5090', '0081', '058312', '5129', '3778', '1694', '5223', '8192', '5040', '7234', '0207', '6149', '3069', '03015', '3662', '7595', '0155', '5186', '5026', '03005', '5286', '0126', '5001', '0112', '7935', '5166', '7219', '5576', '3816', '9571', '8141', '6114', '8893', '0085', '0034', '03027', '0113', '0103', '0245', '6459', '0229', '0156', '6548', '5237', '3867', '03019', '0070', '1651', '5296', '5916', '5202', '5011', '0213', '0092', '0043', '3883', '5085', '9539', '5703', '3891', '3913', '3905', '5087', '0138', '5275', '7692', '0108', '0206', '5073', '0056', '0235', '4707', '0020', '0096', '7241', '7060', '7139', '7215', '0083', '0201', '0026', '03045', '5047', '03006', '2038', '5066', '5025', '4944', '5533', '0172', '0049', '7071', '7107', '5827', '7140', '3018', '9008', '5298', '5079', '0035', '0040', '0222', '0252', '4006', '5065', '5053', '0053', '0153', '0220', '5260', '6009', '7225', '7052', '3719', '8419', '5125', '5022', '9407', '1724', '5657', '2682', '0022', '6912', '0177', '5212', '5041', '1295', '6068', '5183', '6254', '5622', '5271', '0233', '5231', '5133', '9997', '7160', '7108', '7080', '5436', '8532', '8311', '5219', '5681', '6033', '3042', '0091', '8117', '3611', '7081', '4464', '7201', '7095', '0006', '1902', '7163', '0171', '7055', '5075', '9695', '7172', '4081', '8869', '1287', '6637', '5080', '7088', '03031', '4634', '4065', '8273', '0242', '9873', '7168', '0123', '8346', '8966', '5070', '9598', '0186', '7010', '0007', '6807', '7134', '7123', '7237', '0217', '0196', '7084', '7544', '7498', '0236', '5272', '7765', '9296', '5256', '03002', '0032', '7232', '0200', '9946', '0106', '0037', '03052', '9954', '0202', '1066', '5278', '7006', '0219', '9741', '03036', '5113', '5270', '03039', '7803', '2542', '8745', '5134', '8567', '0183', '9822', '0223', '5147', '0133', '7811', '5218', '4596', '5252', '5157', '2569', '5207', '5170', '0109', '0158', '0225', '7247', '9237', '0099', '4731', '8125', '7239', '7158', '7045', '0001', '0028', '2224', '0212', '7073', '4286', '5145', '5163', '0178', '7053', '03009', '9792', '5250', '5205', '5308', '5305', '5123', '5279', '7180', '0055', '0251', '03033', '5517', '4316', '7412', '6017', '0241', '7246', '4197', '5285', '5288', '5172', '9431', '7115', '03049', '7155', '03008', '7248', '0215', '9776', '0203', '4375', '03023', '7132', '0117', '0169', '7943', '03054', '0259', '5213', '5242', '0093', '5126', '0216', '7103', '8664', '1562', '0129', '5665', '6084', '5006', '0080', '6904', '7207', '5263', '03050', '5176', '3743', '5211', '0148', '7235', '7106', '03018', '6521', '5303', '5135', '7186', '9717', '7082', '1538', '5173', '0050', '7228', '5012', '7211', '6139', '2259', '8524', '5191', '2429', '5149', '5140', '0211', '7097', '4405', '0221', '0132', '2054', '7439', '5289', '2739', '7200', '0230', '5347', '054620', '7252', '8702', '0089', '0145', '9369', '7034', '9075', '7206', '5112', '7889', '7374', '5031', '7854', '5239', '5297', '4863', '0101', '8397', '7218', '7230', '7285', '5010', '5268', '7113', '03013', '7173', '7176', '5054', '0199', '0118', '5401', '9059', '5042', '5230', '5167', '4359', '7079', '5111', '7100', '0005', '5148', '7133', '0256', '2593', '7137', '7227', '4588', '7091', '0257', '5005', '0247', '03017', '5200', '5110', '7757', '03043', '2089', '5292', '7250', '0060', '5243', '4995', '7240', '0069', '0120', '0097', '7070', '0232', '6963', '0066', '5162', '0102', '7203', '5016', '5142', '7226', '3565', '9679', '0197', '7231', '0162', '0008', '6378', '7050', '7025', '5246', '5009', '4243', '5156', '5267', '7121', '0165', '0140', '0017', '7003', '5048', '0025', '5300', '0248', '0086', '7293', '7020', '7014', '3158', '5159', '7066', '7178', '4677', '6742', '5109', '0250', '7028', '2283', '0094', '5131']

### (ii) Get stock & dividend

*   stock price, stock return
*   dividend

#### -- Get stock price history

In [ ]:
# Step 2: create a function to get stock & index price history from yahoo finance

import pandas
import yfinance
from typing import Union

def getData(ticker_code: Union[str, list], period:str, interval:str) -> pandas.DataFrame:
  # get stock return dataframe of the Bursa stocks
  if isinstance(ticker_code, list):
    ticker_code = [str(ticker) + ".KL" if not str(ticker).endswith(".KL") and not ticker.startswith("^") else str(ticker) for ticker in ticker_code]
    ticker_code = " ".join(ticker_code)
  elif isinstance(ticker_code, str) and not ticker_code.endswith(".KL") and not ticker_code.startswith("^"): 
    ticker_code = ticker_code + ".KL"
  df_stock = yfinance.download(tickers=ticker_code, period=period, interval=interval, group_by="column")
  df_stock = pandas.DataFrame(df_stock["Adj Close"]).fillna(method="ffill", axis=0).resample("W").mean()
  return df_stock.reset_index()

def getReturn(df_stock: pandas.DataFrame) -> pandas.DataFrame:
  df_stock["Date"] = pandas.to_datetime(df_stock["Date"])
  df_stock_return = df_stock.set_index("Date").pct_change()
  return df_stock_return[1:].reset_index()

import dateutil
import datetime

def filterDataBasedYear(df, period: int):
  # get stock history of previous n years (e.g. 2 years stock return data out of 5 years)
  n_years_from_today = datetime.date.today() - dateutil.relativedelta.relativedelta(years=+period)
  n_years_from_today = n_years_from_today.strftime("%Y-%m-%d")
  return df[df["Date"]>= n_years_from_today]

In [ ]:
# Step 5: Download stock return dataframe of Bursa Malaysia stocks from yahoo finance using yfinance
#stock_list = workSheet.col_values(2)[1:]

stock_df = getData(ticker_code=full_stock_list, period=str(period)+"y", interval=interval)
stock_df

[*********************100%***********************]  990 of 990 completed

9 Failed downloads:
- 058312.KL: No data found, symbol may be delisted
- 058212.KL: No data found, symbol may be delisted
- 0045.KL: No data found, symbol may be delisted
- 054620.KL: No data found, symbol may be delisted
- 0259.KL: No data found, symbol may be delisted
- 054810.KL: No data found, symbol may be delisted
- 3055.KL: No data found, symbol may be delisted
- 03009.KL: No data found, symbol may be delisted
- 0258.KL: No data found, symbol may be delisted

,Date,0001.KL,0002.KL,0005.KL,0006.KL,0007.KL,0008.KL,0010.KL,0011.KL,0012.KL,...,9814.KL,9822.KL,9873.KL,9881.KL,9938.KL,9946.KL,9954.KL,9962.KL,9997.KL,^KLSE
0,2017-08-13,0.159753,1.638836,0.075000,0.300,0.525000,0.588875,0.160000,0.251474,1.228287,...,0.430,1.806828,0.604150,0.550584,0.244000,0.422398,0.048586,0.390491,0.636482,1766.959961
1,2017-08-20,0.169435,1.638836,0.080000,0.350,0.650000,0.617109,0.160000,0.251474,1.201192,...,0.460,1.741801,0.628316,0.560077,0.256000,0.427612,0.057037,0.377026,0.631801,1776.219971
2,2017-08-27,0.164594,1.647284,0.145000,0.380,0.650000,0.588875,0.175000,0.251474,1.165066,...,0.460,1.688386,0.671815,0.555330,0.252000,0.417183,0.033799,0.377026,0.622442,1769.170044
3,2017-09-03,0.164594,1.638836,0.150000,0.450,0.625000,0.572742,0.170000,0.278979,1.147003,...,0.445,1.646583,0.671815,0.545838,0.244000,0.403277,0.033799,0.372538,0.613081,1773.160034
4,2017-09-10,0.159753,1.638836,0.235000,0.415,0.700000,0.536441,0.185000,0.247545,1.156034,...,0.430,1.597812,0.691148,0.612287,0.248000,0.396324,0.033799,0.372538,0.570961,1779.900024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2022-07-17,1.110000,3.950000,0.085000,1.010,0.045000,0.355000,0.110000,0.275000,0.840000,...,0.090,2.766553,0.456905,0.520000,0.180000,0.195000,0.330000,0.285000,0.525000,1418.439941
258,2022-07-24,1.180000,4.000000,0.105000,1.010,0.045000,0.365000,0.130000,0.285000,0.865000,...,0.090,3.053089,0.476143,0.570000,0.175000,0.165670,0.355000,0.280000,0.535000,1465.800049
259,2022-07-31,1.220000,4.100000,0.105000,1.010,0.050000,0.365000,0.125000,0.300000,0.875000,...,0.090,3.790000,0.505000,0.570000,0.190000,0.180000,0.335000,0.285000,0.540000,1492.229980
260,2022-08-07,1.210000,4.200000,0.095000,1.010,0.025000,0.365000,0.125000,0.290000,0.865000,...,0.090,4.440000,0.480952,0.560000,0.185000,0.160000,0.375000,0.285000,0.530000,1501.550049
261,2022-08-14,1.233333,4.140000,0.093333,1.010,0.021667,0.365000,0.131667,0.285000,0.865000,...,0.085,4.020000,0.505000,0.560000,0.183333,0.165000,0.366667,0.280000,0.525000,1496.056722

#### -- Get dividend history

In [ ]:
# Step 6: Download dividend dataframe of Bursa Malaysia stocks from yahoo finance using yfinance

#stock_list = workSheet.col_values(2)[1:]
import yfinance
import pandas 
import threading
from typing import Union, List, Dict
import datetime

multilevel_dict = {}
threads =[]

def bursa_ticker_amend(ticker_code: Union[list, str]) -> List[str]:
  if isinstance(ticker_code, list):
    ticker_code = [str(ticker) + ".KL" if not str(ticker).endswith(".KL") and not ticker.startswith("^") else str(ticker) for ticker in ticker_code]
  elif isinstance(ticker_code, str) and not ticker_code.endswith(".KL") and not ticker_code.startswith("^"): 
    ticker_code = ticker_code + ".KL"
  return ticker_code

# scrape dividend history from yahoo finance
def dividend_scraper(stock: str) -> Dict[str, Dict[datetime.datetime ,float]]:
  try:
    ticker = yfinance.Ticker(stock)
    dividends = ticker.get_dividends().to_dict()
    multilevel_dict.update({stock:dividends})
    return multilevel_dict
  
  except AttributeError:
    print("No data found! No dividends are distributed!")

if include_dividends:
  full_bursa_stock_list = bursa_ticker_amend(full_stock_list)

  for idx in range(0, len(full_stock_list),1):
    t =threading.Thread(target=dividend_scraper,args=[full_bursa_stock_list[idx]])
    t.start()
    threads.append(t)

  for thread in threads:
    thread.join()

- 0258.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 058212.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 054810.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 3055.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 0045.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 058312.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 03009.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 0259.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!
- 054620.KL: No data found, symbol may be delisted
No data found! No dividends are distributed!

#### -- Merge dataframe of stock price & dividend history

In [ ]:
if include_dividends:
  dividend_history = pandas.DataFrame.from_dict(multilevel_dict)
  dividend_history = dividend_history.reset_index()
  dividend_history = dividend_history.rename(columns= {"index":"Date"})

  # create a date range series
  datetable = pandas.date_range(start=min(stock_df["Date"]), end = max(stock_df["Date"]), freq="D").to_series(name="Date")

  # merge two dataframes: datetable and dividend_history
  sorted_dividend_history = pandas.merge(datetable, dividend_history, on="Date", how="left")

  new_sorted_dividend_history= sorted_dividend_history.copy(deep=True).reset_index()
  new_sorted_dividend_history["Date"] = pandas.to_datetime(new_sorted_dividend_history["Date"])
  new_sorted_dividend_history = new_sorted_dividend_history.reindex(columns=stock_df.columns).fillna(0)
  new_sorted_dividend_history

  stock_with_div_df = stock_df.set_index("Date").add(new_sorted_dividend_history.set_index("Date"))
  stock_with_div_df = stock_with_div_df.resample("W").mean().reset_index()
  stock_with_div_df

#### -- Get stock return (including dividend)

In [ ]:
if include_dividends:
  total_stock_return_df = getReturn(stock_with_div_df)
  
else:
  total_stock_return_df = getReturn(stock_df)
total_stock_return_df

,Date,0001.KL,0002.KL,0005.KL,0006.KL,0007.KL,0008.KL,0010.KL,0011.KL,0012.KL,...,9814.KL,9822.KL,9873.KL,9881.KL,9938.KL,9946.KL,9954.KL,9962.KL,9997.KL,^KLSE
0,2017-08-20,0.060606,0.000000,0.066667,0.166667,0.238095,0.047945,0.000000,0.000000,-0.022059,...,0.069767,-0.035990,0.040000,0.017241,0.049180,0.012346,0.173926,-0.034483,-0.007353,0.005241
1,2017-08-27,-0.028571,0.005155,0.812500,0.085714,0.000000,-0.045752,0.093750,0.000000,-0.030075,...,0.000000,-0.030667,0.069231,-0.008475,-0.015625,-0.024390,-0.407421,0.000000,-0.014815,-0.003969
2,2017-09-03,0.000000,-0.005128,0.034483,0.184211,-0.038462,-0.027397,-0.028571,0.109375,-0.015504,...,-0.032609,-0.024759,0.000000,-0.017094,-0.031746,-0.033333,0.000000,-0.011905,-0.015038,0.002255
3,2017-09-10,-0.029412,0.000000,0.566667,-0.077778,0.120000,-0.063380,0.088235,-0.112676,0.007874,...,-0.033708,-0.029619,0.028777,0.121739,0.016393,-0.017241,0.000000,0.000000,-0.068702,0.003801
4,2017-09-17,0.060606,-0.025773,0.000000,-0.012048,0.035714,-0.037594,-0.027027,0.111111,-0.031250,...,0.023256,0.005814,-0.013986,0.108527,0.048387,-0.017544,0.750036,-0.012048,-0.016394,0.003613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,2022-07-17,-0.017699,0.007653,-0.150000,0.000000,0.000000,0.014286,-0.120000,0.000000,-0.017544,...,0.000000,-0.060403,-0.040404,-0.018868,0.000000,0.000000,0.000000,0.017857,-0.009434,-0.005155
257,2022-07-24,0.063063,0.012658,0.235294,0.000000,0.000000,0.028169,0.181818,0.036364,0.029762,...,0.000000,0.103571,0.042105,0.096154,-0.027778,-0.150410,0.075758,-0.017544,0.019048,0.033389
258,2022-07-31,0.033898,0.025000,0.000000,0.000000,0.111111,0.000000,-0.038462,0.052632,0.011561,...,0.000000,0.241366,0.060606,0.000000,0.085714,0.086497,-0.056338,0.017857,0.009346,0.018031
259,2022-08-07,-0.008197,0.024390,-0.095238,0.000000,-0.500000,0.000000,0.000000,-0.033333,-0.011429,...,0.000000,0.171504,-0.047619,-0.017544,-0.026316,-0.111111,0.119403,0.000000,-0.018519,0.006246
260,2022-08-14,0.019284,-0.014286,-0.017544,0.000000,-0.133333,0.000000,0.053333,-0.017241,0.000000,...,-0.055556,-0.094595,0.050000,0.000000,-0.009009,0.031250,-0.022222,-0.017544,-0.009434,-0.003658

#### -- Get beta and alpha using Linear Regression

In [ ]:
# Step 3: create function to calculate beta using Linear Regression

import numpy
import pandas
from typing import Tuple, Union
import scipy
import statsmodels.api as sm
import logging

def calc_beta(excess_stock_return:list, excess_index_return:list, confidence_level: float) -> Tuple[float, float, float, float, float, str]:
  beta, intercept, rvalue, pvalue, stderr = scipy.stats.linregress(x=excess_index_return, y=excess_stock_return)
  rsquared = rvalue**2
  normality = normality_test(excess_stock_return, confidence_level) 
  return beta, intercept, rsquared, pvalue, stderr, normality

""" statsmodels library to calculate beta, intercept, etc 
def calc_beta(excess_stock_return:list, excess_index_return:list):
  X1 = sm.add_constant(data=excess_index_return)
  model = sm.OLS(endog=excess_stock_return, exog=X1)
  results = model.fit()
  beta, intercept, rsquared, pvalue, stderr = (results.params[1], results.params[0], results.rsquared, results.pvalues[1], results.bse[1])
  return beta, intercept, rsquared, pvalue, stderr
"""

def normality_test(excess_stock_return:list, confidence_level:float, nan_policy="propagate") -> Union[bool, str]: 
  # D’Agostino’s K-squared test on excess return data
  try:  
    k2, p = scipy.stats.normaltest(excess_stock_return, nan_policy=nan_policy)
    if p > confidence_level:
      return False
    elif p <= confidence_level:
      return "normal"
  except ValueError as error:
    logging.debug(error)

def getRegression(df: pandas.core.frame.DataFrame, period: int, rf: float, confidence_level: float) -> pandas.core.frame.DataFrame:
  df_ny = filterDataBasedYear(df, period).set_index("Date").sub(rf)
  df_ny = df_ny.apply(lambda x: calc_beta(x.values.tolist(), df_ny["^KLSE"].values.tolist(), confidence_level=confidence_level), axis=0)
  df_ny = df_ny.transpose().reset_index()
  df_ny.columns = ["STOCK CODE",f"BETA_{period}Y", f"INTERCEPT_{period}Y", f"R-SQUARED_{period}Y", f"P-VALUE_{period}Y", f"BETA STANDARD ERROR_{period}Y", f"NORMALITY TEST_{period}Y"] 
  df_ny["STOCK CODE"] = df_ny["STOCK CODE"].replace({"[.]KL": ""}, regex=True)
  return df_ny

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
regression_df = getRegression(total_stock_return_df, period=period, rf=rf, confidence_level=confidence_level)
regression_df.sort_values(f"INTERCEPT_{period}Y", ascending=False)

,STOCK CODE,BETA_5Y,INTERCEPT_5Y,R-SQUARED_5Y,P-VALUE_5Y,BETA STANDARD ERROR_5Y,NORMALITY TEST_5Y
719,7045,3.11626,0.086377,0.096677,0.0,0.591894,normal
130,0174,2.199872,0.07993,0.005465,0.233951,1.843942,normal
29,0043,2.720588,0.074267,0.046508,0.00045,0.765437,normal
48,0072,2.744057,0.07171,0.099559,0.0,0.51278,normal
381,4464,1.785529,0.068192,0.008966,0.127043,1.166414,normal
...,...,...,...,...,...,...,...
615,5303,NaN,NaN,NaN,NaN,NaN,NaN
616,5305,NaN,NaN,NaN,NaN,NaN,NaN
617,5306,NaN,NaN,NaN,NaN,NaN,NaN
618,5308,NaN,NaN,NaN,NaN,NaN,NaN
680,6633,NaN,NaN,NaN,NaN,NaN,NaN

#### -- Calculate Annualized Return and Standard Devation

In [ ]:
def getAnnualizedReturn(df, interval:str, type:str="geometric", skipna:bool=False):
  """Params:
  interval : str
    Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
  """
  if type == "arithmetic":
    df= df.mean(skipna=skipna)
  elif type == "geometric":
    if skipna:
      df = df.add(1).apply(lambda x: scipy.stats.gmean(x.dropna(inplace=False)), axis=0).sub(1)
    else:
      df = df.add(1).apply(scipy.stats.gmean).sub(1)
  annualized_return_dict = {"1d": 252,"1wk":52, "1mo":12, "3mo":4}
  annualized_return = df.multiply(annualized_return_dict[interval])
  return annualized_return

def getAnnualizedStdDeviation(df, interval:str = interval, skipna=skipna):
  """Params:
  interval : str
    Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
  """
  df = df.std(skipna=skipna)
  annualized_std_dict = {"1d": 252,"1wk":52, "1mo":12, "3mo":4}
  annualized_std = df.multiply(annualized_std_dict[interval])
  return annualized_std

## Merge All DataFrame

In [ ]:
# merge dataframes of `clean_df_stock_list`, `regression_df`, `descriptive_df`

from functools import reduce

main_dataframe = [clean_df_stock_list, regression_df, descriptive_df]

merged_df = reduce(lambda left, right: pandas.merge(left, right, on="STOCK CODE", how ="left"), main_dataframe)
merged_df.sort_values(f"INTERCEPT_{period}Y", ascending=False)

,STOCK SYMBOL,STOCK CODE,SECTOR,SUBSECTOR,MKT,OPEN,LAST,CHG%,CHG,VOL,MKT CAP,BETA_5Y,INTERCEPT_5Y,R-SQUARED_5Y,P-VALUE_5Y,BETA STANDARD ERROR_5Y,NORMALITY TEST_5Y,standard_deviation_of_equity_5Y,annualized_return_of_equity_5Y
839,SCOMIES,7045,ENERGY,"ENERGY INFRASTRUCTURE, EQUIPMENT & SERVICES",MAIN,0.000,0.025,0.00,0.000,0,11709000,3.11626,0.086377,0.096677,0.0,0.591894,normal,7.387408,-0.750296
275,EVD,0174,TECHNOLOGY,SOFTWARE,ACE,0.190,0.185,-2.63,-0.005,0.304 M,73568000,2.199872,0.07993,0.005465,0.233951,1.843942,normal,38.863415,0.492463
634,MTRONIC,0043,INDUSTRIAL PRODUCTS & SERVICES,INDUSTRIAL SERVICES,MAIN,0.055,0.055,0.00,0.000,32.008 M,84105000,2.720588,0.074267,0.046508,0.00045,0.765437,normal,15.100084,-1.208788
76,AT,0072,INDUSTRIAL PRODUCTS & SERVICES,"INDUSTRIAL MATERIALS, COMPONENTS & EQUIPMENT",ACE,0.010,0.010,-33.33,-0.005,0.03 M,60006000,2.744057,0.07171,0.099559,0.0,0.51278,normal,8.809609,-0.988343
742,PHB,4464,PROPERTY,PROPERTY,MAIN,0.000,0.010,0.00,0.000,0,108212000,1.785529,0.068192,0.008966,0.127043,1.166414,normal,15.197406,-0.682033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048,YB-LA,5048LA,INDUSTRIAL PRODUCTS & SERVICES,BUILDING MATERIALS,BOND,0.045,0.045,0.00,0.000,0.15 M,54330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,YENHER,5300,CONSUMER PRODUCTS & SERVICES,AGRICULTURAL PRODUCTS,MAIN,0.800,0.800,0.00,0.000,0 M,240000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1051,YEWLEE,0248,INDUSTRIAL PRODUCTS & SERVICES,"INDUSTRIAL MATERIALS, COMPONENTS & EQUIPMENT",ACE,0.265,0.260,-1.89,-0.005,1.227 M,138433000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,YONGTAI-PA,7066PA,PROPERTY,PROPERTY,MAIN,0.000,0.085,0.00,0.000,0,1452000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,YXPM,0250,CONSUMER PRODUCTS & SERVICES,PERSONAL GOODS,ACE,0.205,0.205,0.00,0.000,0.868 M,76291000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Aggregate Data

In [ ]:
sector_overview_df = merged_df.groupby("SECTOR").agg({f"BETA_{period}Y": "mean",
                                    f"INTERCEPT_{period}Y": "mean",
                                    f"annualized_return_of_equity_{period}Y": "mean", 
                                    f"standard_deviation_of_equity_{period}Y": "mean"
                                    }).dropna().sort_values(f"INTERCEPT_{period}Y", ascending=False)
sector_overview_df

,BETA_5Y,INTERCEPT_5Y,annualized_return_of_equity_5Y,standard_deviation_of_equity_5Y
SECTOR,,,,
ENERGY,1.285268,0.018952,-0.217233,10.094581
TECHNOLOGY,1.231364,0.014597,-0.187891,7.569571
HEALTH CARE,1.005504,0.004610,-0.373515,3.150328
CONSTRUCTION,1.011877,0.000124,-0.119106,3.148551
INDUSTRIAL PRODUCTS & SERVICES,0.926662,-0.000089,0.016200,4.136353
TELECOMMUNICATIONS & MEDIA,0.936226,-0.000433,-0.181013,4.888540
TRANSPORTATION & LOGISTICS,0.869592,-0.003231,0.011599,4.220350
PLANTATION,0.832159,-0.004759,0.123334,2.629330
FINANCIAL SERVICES,0.828764,-0.005535,0.036985,2.235316
UTILITIES,0.810840,-0.006304,-0.036691,1.793080
CONSUMER PRODUCTS & SERVICES,0.754527,-0.007530,-0.018512,3.573734
PROPERTY,0.686264,-0.011620,-0.007268,3.473652
REAL ESTATE INVESTMENT TRUSTS,0.370780,-0.024796,0.048964,1.135483
SPECIAL PURPOSE ACQUISITION COMPANY,-0.007929,-0.039871,0.000000,0.000000

In [ ]:
sub_sector_overview_df = merged_df.groupby("SUBSECTOR").agg({f"BETA_{period}Y": "mean",
                                    f"INTERCEPT_{period}Y": "mean",
                                    f"annualized_return_of_equity_{period}Y": "mean", 
                                    f"standard_deviation_of_equity_{period}Y": "mean"
                                    }).dropna().sort_values(f"INTERCEPT_{period}Y", ascending=False)
sub_sector_overview_df

,BETA_5Y,INTERCEPT_5Y,annualized_return_of_equity_5Y,standard_deviation_of_equity_5Y
SUBSECTOR,,,,
OTHER ENERGY RESOURCES,1.954564,0.046648,-0.370045,5.243031
OIL & GAS PRODUCERS,1.667140,0.028546,0.016695,4.429514
SOFTWARE,1.385653,0.020559,-0.322304,6.507558
HEALTH CARE EQUIPMENT & SERVICES,1.316023,0.019103,-0.865605,4.636583
TECHNOLOGY EQUIPMENT,1.318531,0.018123,-0.283561,5.334808
"ENERGY INFRASTRUCTURE, EQUIPMENT & SERVICES",1.165847,0.015045,-0.241467,11.339326
DIGITAL SERVICES,1.097248,0.009441,-0.092677,12.613479
INDUSTRIAL ENGINEERING,1.123913,0.007357,-0.058829,4.713028
METALS,1.098889,0.006680,0.226167,3.930723
SEMICONDUCTORS,0.976443,0.004449,0.053659,4.119380
TELECOMMUNICATIONS EQUIPMENT,0.911590,0.002795,-0.298898,7.809137
"INDUSTRIAL MATERIALS, COMPONENTS & EQUIPMENT",0.992973,0.002773,-0.128526,4.268546
BANKING,1.017370,0.002212,0.174753,1.617402
INDUSTRIAL SERVICES,0.977746,0.002042,-0.061740,4.295082
"TRAVEL, LEISURE & HOSPITALITY",0.959746,0.001304,-0.059959,4.539818
CONSTRUCTION,1.011877,0.000124,-0.119106,3.148551
PERSONAL GOODS,0.890403,-0.000611,-0.103289,4.619644
CHEMICALS,0.875208,-0.000749,0.081196,4.152199
ELECTRICITY,0.920974,-0.000988,-0.061571,1.829244
TELECOMMUNICATIONS SERVICE PROVIDERS,0.962838,-0.001627,-0.336380,3.388959
WOOD & WOOD PRODUCTS,0.895520,-0.001641,0.071389,4.731307
MEDIA,0.926662,-0.001701,0.099734,4.351561
TRANSPORTATION & LOGISTICS SERVICES,0.880990,-0.002681,0.018866,4.285360
BUILDING MATERIALS,0.848624,-0.003559,0.058849,4.083815
PLANTATION,0.832159,-0.004759,0.123334,2.629330
DIVERSIFIED INDUSTRIALS,0.787751,-0.006085,0.207559,3.024346
TRANSPORTATION EQUIPMENT,0.789806,-0.007081,-0.041082,3.749026
OTHER FINANCIALS,0.776881,-0.007257,-0.070622,2.983997
CONSUMER SERVICES,0.727596,-0.007598,-0.019715,3.855874
AUTOMOTIVE,0.778483,-0.007997,0.003710,2.126079
FOOD& BEVERAGES,0.756874,-0.008038,-0.090901,2.830985
"GAS, WATER & MULTI-UTILITIES",0.761891,-0.008667,-0.025633,1.777007
PHARMACEUTICALS,0.691029,-0.008798,-0.090381,2.432936
PACKAGING MATERIALS,0.719155,-0.008798,-0.067033,3.159219
AGRICULTURAL PRODUCTS,0.732126,-0.009787,-0.046195,2.833606
HEALTH CARE PROVIDERS,0.699928,-0.011240,-0.023961,1.956822
INSURANCE,0.699909,-0.011465,0.051297,1.757273
PROPERTY,0.686264,-0.011620,-0.007268,3.473652
AUTO PARTS,0.618959,-0.012341,0.044709,4.725390
RETAILERS,0.652322,-0.012935,0.013165,2.655387
HOUSEHOLD GOODS,0.531535,-0.016405,0.135706,3.697107
REAL ESTATE INVESTMENT TRUSTS,0.370780,-0.024796,0.048964,1.135483
SPECIAL PURPOSE ACQUISITION COMPANY,-0.007929,-0.039871,0.000000,0.000000

In [ ]:
merged_df.to_csv("../data/bursa")
sub_sector_overview_df.to_csv("")

merged_df.to_csv(f"../data/bursa_companies_p{period}_rf{rf}_int{interval}_cl{confidence_level}_exw{exclude_warrant}.csv")
sector_overview_df.to_csv(f"../data/sector_overview_p{period}_rf{rf}_int{interval}_cl{confidence_level}_exw{exclude_warrant}.csv")
sub_sector_overview_df.to_csv(f"./data/subsector_overview_p{period}_rf{rf}_int{interval}_cl{confidence_level}_exw{exclude_warrant}.csv")